<!DOCTYPE html>
<html>
<head>
    <title>Secret1st</title>
</head>
<body>

    <h1>Secret1st</h1>
    &nbsp;
    <a href="/">Home</a>
    &nbsp;&nbsp;
    <a href="newSecret">New</a>
    &nbsp;&nbsp;
    <a href="listSecrets">List</a>
    <br/>
    <%- body%>

</body>
</html>