<%secrets.forEach(item => {%>
    <p>*** <%= item.secret%> | <a href="edit">Edit</a>, <a href="delete">Delete</a></p>
    <p><%= item.url%></p>
    <p><%= item.name%></p>
    <p><%= item.password%></p>
<%});%>