<div>
<form action="/saveSecret" method="post">
    <label for="secret">Secret</label>
    <input type="text" name="secret" placeholder="Secret Name">
    <label for="url">URL</label>
    <input type="url" name="url" placeholder="https://host:port">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name">
    <label for="password">Password</label>
    <input type="password" name="passwoar" placeholder="******">
    <input type="submit" value="Submit">
    <input type="button" value="Cancel" onclick="javascript:window.history.back()">
  </form>
  </div>